# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df = "weather_df.csv"
weather_df = pd.read_csv(df)
print(weather_df)

     Unnamed: 0            City Country        Date  Latitude  Longitude  \
0             0           Vaini      TO  1665455905  -21.2000  -175.2000
1             1  Ribeira Grande      PT  1665456159   38.5167   -28.7000
2             2         Mataura      NZ  1665456159  -46.1927   168.8643
3             3     Port Alfred      ZA  1665456160  -33.5906    26.8910
4             4   San Cristobal      VE  1665455874    7.7669   -72.2250
..          ...             ...     ...         ...       ...        ...
549         549         The Pas      CA  1665456308   53.8251  -101.2541
550         550             Lae      PG  1665456366   -6.7221   146.9847
551         551          Bentiu      SS  1665456366    9.2333    29.8333
552         552         Kismayo      SO  1665456367   -0.3582    42.5454
553         553     Badiraguato      MX  1665456367   25.3667  -107.5167

     Max Temperature  Humidity  Cloudiness  Wind Speed
0              78.96        69          40       25.32
1              68.77        88           7        1.99
2              52.03        51          98        8.08
3              73.18        72          98        1.01
4              71.78        92          97        2.33
..               ...       ...         ...         ...
549            60.82        41           0        8.05
550            90.27        75         100        3.15
551            68.68        90           3        2.17
552            76.73        78          21       15.12
553            76.71        64           0        4.12

[554 rows x 10 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = weather_df[['Latitude','Longitude']]
weights = weather_df['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
#Weather Conditions 
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows that don't satisfy all three conditions. You want to be sure the weather is ideal.

Weather_Conditions = (weather_df[(weather_df["Max Temperature"] <= 80) & (weather_df["Max Temperature"] >= 70) & (weather_df["Wind Speed"] < 10)])
Ideal_Weather = Weather_Conditions.dropna()
Ideal_Weather.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
3,3,Port Alfred,ZA,1665456160,-33.5906,26.8910,73.18,72,98,1.01
4,4,San Cristobal,VE,1665455874,7.7669,-72.2250,71.78,92,97,2.33
13,13,Kannur,IN,1665456163,11.8675,75.3576,79.14,79,100,2.59
17,17,Vila Franca do Campo,PT,1665456164,37.7167,-25.4333,72.19,89,61,5.50
18,18,Rikitea,PF,1665456165,-23.1203,-134.9692,71.96,73,65,2.98

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure